# --- Dependencias (Lo más importante) ---
node_modules/

# --- Variables de Entorno (SEGURIDAD) ---
.env

# --- Archivos de Datos Locales (Para que no se suban los logs) ---
data_storage.json
request_logs.json

# --- Basura de Sistema Operativo ---
Thumbs.db        # Windows
.DS_Store        # Mac
Desktop.ini      # Windows

# --- Logs de errores de npm ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*